/* Storybook global styles */

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  padding: 20px;
}

.mat-typography {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
